.App {
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}
.header {
  position: relative;
  height: 8vh;
  width: 100%;
  justify-items: center;
  padding: 1rem 0;
  align-items: flex-start;
  display: flex;
}
.header span{
  font-size: 1.5rem;
  font-weight: 600;
  color: #2c2d46;
  padding: 0 5px;
}
.header img{
  width: 2.5rem;
}
.container {
  width: 90%;
  max-width: 1600px;
  margin: auto;
}
.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
